
table {
    width: 100%;
}

tr.action:hover {
    background-color: #c5c5c5;
    cursor: pointer;
}

div.main-container {
    width: 500px;
    padding-left: 40px
}

div.button-zone {
    padding-top: 20px;
    padding-bottom: 10px;
}

button.btn-right {
    margin-left: 20px;
}
