<h2>Transfer Pet</h2>

<form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <select id="sancdir" class="form-control" formControlName="sancdir" (ngModelChange)="onSancDirChange($event)">
            <option *ngFor="let sdir of sdirs" [ngValue]="sdir.value">
                {{ sdir.name }}
            </option>
        </select>
    </div>
    <h2>{{(sanctuary$ | async)?.name}}</h2>
    <div class="form-group">
        <label for="petModel">Search for pet:</label>
        <input 
            type="text" 
            required
            pattern="[a-zA-Z ]*"
            class="form-control" 
            id="petModel" 
            formControlName="petModel"
            [ngbTypeahead]="petSearch" 
            [resultFormatter]="petFormatter"
            [inputFormatter]="petShow">
        <hr>
        <pre>Pet: {{ petModel | json }}</pre>
    </div>
    <div class="form-group">
        <select id="ownerdir" class="form-control" formControlName="ownerdir" (ngModelChange)="onOwnerDirChange($event)">
            <option *ngFor="let odir of odirs" [ngValue]="odir.value">
                {{ odir.name }}
            </option>
        </select>
    </div>
    <div *ngIf="ownerSearchCtl" class="form-group">
        <label for="ownerModel">Search for owner:</label>
        <input
            type="text"
            pattern="[a-zA-Z ]*"
            class="form-control"
            id="ownerModel"
            formControlName="ownerModel"
            [ngbTypeahead]="ownerSearch"
            [resultFormatter]="ownerFormatter"
            [inputFormatter]="ownerShow">
        <hr>
        <pre>Owner: {{ ownerModel | json }}</pre>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!transferForm.valid">Submit</button>
  </form>
