<h2>Transfer Pet</h2>

<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <select name="petdir" class="form-control" [ngModel]="sancdir" (ngModelChange)="onSancDirChange($event)">
            <option *ngFor="let sdir of sdirs" [ngValue]="sdir.value" [selected]="sdir.value==='to'">
                {{ sdir.name }}
            </option>
        </select>
    </div>
    <h2>{{(sanctuary$ | async)?.name}}</h2>
    <div class="form-group">
        <label for="formGroupPetInput">Search for pet:</label>
        <input 
            type="text" 
            required
            pattern="[a-zA-Z ]*"
            class="form-control" 
            id="formGroupPetInput" 
            name="pet" 
            [(ngModel)]="petModel" 
            [ngbTypeahead]="petSearch" 
            [resultFormatter]="petFormatter"
            [inputFormatter]="petShow">
        <hr>
        <pre>Pet: {{ petModel | json }}</pre>
    </div>
    <div class="form-group">
        <select name="ownerd" class="form-control" [ngModel]="ownerdir" (ngModelChange)="onOwnerDirChange($event)">
            <option *ngFor="let odir of odirs" [ngValue]="odir.value" [selected]="odir.value==='stray'">
                {{ odir.name }}
            </option>
        </select>
    </div>
    <div *ngIf="ownerSearchCtl" class="form-group">
        <label for="formGroupOwnerInput">Search for owner:</label>
        <input
            type="text"
            pattern="[a-zA-Z ]*"
            class="form-control"
            id="formGroupOwnerInput"
            name="owner"
            [(ngModel)]="ownerModel"
            [ngbTypeahead]="ownerSearch"
            [resultFormatter]="ownerFormatter"
            [inputFormatter]="ownerShow">
        <hr>
        <pre>Owner: {{ ownerModel | json }}</pre>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">Submit</button>
  </form>
